<div class="fixed">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="timeline">TORUZOU</a></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#"><span>Menu</span></a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li class="divider"></li>
        <li><a href="deals"><i class="icon-tasks icon-inline-prefix"></i>Deals</a></li>
        <li class="divider"></li>
        <li><a href="activities"><i class="icon-calendar icon-inline-prefix"></i>Activities</a></li>
        <li class="divider"></li>
        <li><a href="people"><i class="icon-group icon-inline-prefix"></i>People</a></li>
        <li class="divider"></li>
        <li><a href="organizations"><i class="icon-building icon-inline-prefix"></i>Organizations</a></li>
        <li class="divider"></li>
        <li><a href="users"><i class="icon-user-md icon-inline-prefix"></i>Users</a></li>
        <li class="divider"></li>
      </ul>
      <ul class="right">
        <li class="has-form">
          <form class="top-search">
            <div class="row collapse">
              <div class="small-8 columns">
                <input type="text">
              </div>
              <div class="small-4 columns">
                <a href="#" class="button">Search</a>
              </div>
            </div>
          </form>
      </ul>
    </section>
  </nav>
</div>