<div class="row">
  <div class="small-10 small-centered medium-6 medium-centered large-4 large-centered columns">
    <div class="contents">
      <div class="row">
        <div class="large-12 columns">
          <div class="panel callout">
            <h5>TORUZOU</h5>
            <p>Business Contact Manager</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <div id="unauthenticated-contents-region"></div>
        </div>
      </div>
    </div>
  </div>
</div>