<div class="field">
  <label id="label-{{key}}" class="icon-applicable" for="{{editorId}}"><span class="field-name">{{title}}</span>{{#if help}} <span class="help">{{{help}}}</span>{{/if}}</label>
  <div class="editor">
    <div data-editor></div>
    <div data-error></div>
  </div>
</div>