<div>
  <label id="label-{{key}}" class="icon-applicable" for="{{editorId}}">{{title}}{{#if help}} {{{help}}}{{/if}}</label>
  <div>
    <span data-editor></span>
    <div data-error></div>
  </div>
</div>