<div class="section-container accordion" data-section="accordion">
  <section class="active">
    <p class="title" data-section-title>
      <a href="#">Filter by attributes</a>
    </p>
    <div class="content" data-section-content>
      <div class="row collapse">
        <div class="filter-item" data-fields="organizationName"></div>
      </div>
      <div class="row collapse">
        <div class="filter-item" data-fields="dealName"></div>
      </div>
      <div class="row collapse">
        <div class="filter-item" data-fields="projectTypes"></div>
      </div>
      <div class="row collapse">
        <div class="filter-item" data-fields="categories"></div>
      </div>
      <div class="row collapse">
        <div class="filter-item" data-fields="statuses"></div>
      </div>
      <div class="row collapse">
        <div class="filter-item" data-fields="from"></div>
      </div>
      <div class="row collapse">
        <div class="filter-item" data-fields="to"></div>
      </div>
    </div>
  </section>
</div>