<div class="description-container">
  <h4><i class="icon-bar-chart icon-inline-prefix"></i>Sales Projections</h4>
  <a href="#" id="add-sales-projection-button" class="primary small button">Add New Sales Projection</a>
</div>
<div id="grid-container"></div>
