<div class="section-container accordion" data-section="accordion">
  <section class="active">
    <p class="title" data-section-title>
      <a href="#">Filter by attribute</a>
    </p>
    <div class="content" data-section-content>
      <!-- TODO department, title -->
      <div class="row collapse">
        <div class="filter-item">
          <label for="filter-name"><i class="icon-search icon-inline-prefix"></i>Name</label>
          <input data-filter="name" type="text" placeholder="Filter by name">
        </div>
      </div>
      <div class="row collapse">
        <div class="filter-item">
          <label for="filter-organization"><i class="icon-search icon-inline-prefix"></i>Organization</label>
          <input data-filter="organization_name" type="text" placeholder="Filter by organization">
        </div>
      </div>
      <div class="row collapse">
        <div class="filter-item">
          <label for="filter-phone"><i class="icon-search icon-inline-prefix"></i>Phone</label>
          <input data-filter="phone" type="text" placeholder="Filter by phone">
        </div>
      </div>
      <div class="row collapse">
        <div class="filter-item">
          <label for="filter-email"><i class="icon-search icon-inline-prefix"></i>Email</label>
          <input data-filter="email" type="text" placeholder="Filter by email">
        </div>
      </div>
      <div class="row collapse">
        <div class="filter-item">
          <label for="filter-owner"><i class="icon-search icon-inline-prefix"></i>Owner</label>
          <input data-filter="owner_name" type="text" placeholder="Filter by owner">
        </div>
      </div>
    </div>
  </section>
</div>
<!-- TODO Filtering by deals etc -->
<div class="section-container accordion" data-section="accordion">
  <section>
    <p class="title" data-section-title>
      <a href="#">Current Deals</a>
    </p>
    <div class="content" data-section-content>
      <ul class="side-nav">
        <li><a href="#">Deal A</a></li>
        <li><a href="#">Deal B</a></li>
      </ul>
    </div>
  </section>
  <section>
    <p class="title" data-section-title>
      <a href="#">Recent Activities</a>
    </p>
    <div class="content" data-section-content>
      <ul class="side-nav">
        <li><a href="#">Activity 1</a></li>
        <li><a href="#">Activity 2</a></li>
      </ul>
    </div>
  </section>
  <section>
    <p class="title" data-section-title>
      <a href="#">Related Contacts</a>
    </p>
    <div class="content" data-section-content>
      <ul class="side-nav">
        <li><a href="#">Contact 1</a></li>
        <li><a href="#">Contact 2</a></li>
      </ul>
    </div>
  </section>
</div>
<div class="section-container accordion" data-section="accordion">
  <section>
    <p class="title" data-section-title>
      <a href="#">Filter by Owner</a>
    </p>
    <div class="content" data-section-content>
      <ul class="side-nav">
        <li class="filter-item"><a href="#">Owner A</a></li>
        <li class="filter-item"><a href="#">Owner B</a></li>
        <li class="filter-item"><a href="#">Owner C</a></li>
      </ul>
    </div>
  </section>
</div>
<div class="section-container accordion" data-section="accordion">
  <section>
    <p class="title" data-section-title>
      <a href="#">Filter by Tag</a>
    </p>
    <div class="content" data-section-content>
      <ul class="side-nav">
        <li class="filter-item"><a href="#">Tag A</a></li>
        <li class="filter-item"><a href="#">Tag B</a></li>
        <li class="filter-item"><a href="#">Tag C</a></li>
      </ul>
    </div>
  </section>
</div>