<div class="row">
  <div class="large-9 columns">
    <!-- FIXME Should be a responsive layout -->
    <div class="description-container">
      <h4><i class="icon-group icon-inline-prefix"></i>People</h4>
      <a href="#" id="add-person-button" class="primary small button">Add New Person</a>
    </div>
    <div id="grid-container"></div>
  </div>
  <div class="large-3 columns filter-container"></div>
</div>