<div class="description-container">
  <h4><i class="icon-group icon-inline-prefix"></i>Client Members</h4>
  <a href="#" id="add-person-button" class="primary small button">Add New Client Member</a>
</div>
<div id="grid-container"></div>