<div class="section-container accordion" data-section="accordion">
  <section class="active">
    <p class="title" data-section-title>
      <a href="#">Filter by attribute</a>
    </p>
    <div class="content" data-section-content>
      <div class="row collapse">
        <div class="filter-item">
          <label for="filter-name"><i class="icon-search icon-inline-prefix"></i>Name</label>
          <input id="filter-name" type="text" placeholder="Filter by name">
        </div>
      </div>
      <div class="row collapse">
        <div class="filter-item">
          <label for="filter-abbreviation"><i class="icon-search icon-inline-prefix"></i>Abbreviation</label>
          <input id="filter-abbreviation" type="text" placeholder="Filter by abbreviation">
        </div>
      </div>
      <div class="row collapse">
        <div class="filter-item">
          <label for="filter-owner"><i class="icon-search icon-inline-prefix"></i>Owner</label>
          <input id="filter-owner" type="text" placeholder="Filter by owner">
        </div>
      </div>
    </div>
  </section>
</div>