<div class="row">
  <div class="large-9 columns">
    <!-- FIXME Should be a responsive layout -->
    <div class="description-container">
      <h4>Organizations</h4>
      <a href="#" id="add-organization-button" class="primary small button">Add New Organization</a>
    </div>
    <div id="grid-container"></div>
  </div>
  <div class="large-3 columns filter-container">
    <div class="section-container accordion" data-section="accordion">
      <section class="active">
        <p class="title" data-section-title>
          <a href="#">Filter by attribute</a>
        </p>
        <div class="content" data-section-content>
          <div class="row collapse">
            <div class="filter-item">
              <label for="filter-name"><i class="icon-search"></i>Name</label>
              <input id="filter-name" type="text" placeholder="Filter by name">
            </div>
          </div>
          <div class="row collapse">
            <div class="filter-item">
              <label for="filter-abbreviation"><i class="icon-search"></i>Abbreviation</label>
              <input id="filter-abbreviation" type="text" placeholder="Filter by abbreviation">
            </div>
          </div>
          <div class="row collapse">
            <div class="filter-item">
              <label for="filter-owner-name"><i class="icon-search"></i>Owner</label>
              <input id="filter-owner-name" type="text" placeholder="Filter by owner">
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- TODO -->
    <div class="section-container accordion" data-section="accordion">
      <section>
        <p class="title" data-section-title>
          <a href="#">Current Deals</a>
        </p>
        <div class="content" data-section-content>
          <ul class="side-nav">
            <li><a href="#">Deal A</a></li>
            <li><a href="#">Deal B</a></li>
          </ul>
        </div>
      </section>
      <section>
        <p class="title" data-section-title>
          <a href="#">Recent Activities</a>
        </p>
        <div class="content" data-section-content>
          <ul class="side-nav">
            <li><a href="#">Activity 1</a></li>
            <li><a href="#">Activity 2</a></li>
          </ul>
        </div>
      </section>
      <section>
        <p class="title" data-section-title>
          <a href="#">Related Contacts</a>
        </p>
        <div class="content" data-section-content>
          <ul class="side-nav">
            <li><a href="#">Contact 1</a></li>
            <li><a href="#">Contact 2</a></li>
          </ul>
        </div>
      </section>
    </div>
    <div class="section-container accordion" data-section="accordion">
      <section>
        <p class="title" data-section-title>
          <a href="#">Filter by Owner</a>
        </p>
        <div class="content" data-section-content>
          <ul class="side-nav">
            <li class="filter-item"><a href="#">Owner A</a></li>
            <li class="filter-item"><a href="#">Owner B</a></li>
            <li class="filter-item"><a href="#">Owner C</a></li>
          </ul>
        </div>
      </section>
    </div>
    <div class="section-container accordion" data-section="accordion">
      <section>
        <p class="title" data-section-title>
          <a href="#">Filter by Tag</a>
        </p>
        <div class="content" data-section-content>
          <ul class="side-nav">
            <li class="filter-item"><a href="#">Tag A</a></li>
            <li class="filter-item"><a href="#">Tag B</a></li>
            <li class="filter-item"><a href="#">Tag C</a></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>