<div class="description-container">
  <h4><i class="icon-building icon-inline-prefix"></i>Organizations</h4>
  <a href="#" id="add-organization-button" class="primary small button">Add New Organization</a>
</div>
<div id="grid-container"></div>