<div class="row">
  <div class="large-12 columns">
    <div class="description-container">
      <h4 class="timeline-header"><i class="icon-bolt icon-inline-prefix"></i>Timeline</h4>
    </div>
    <div id="notifications-container"></div>
  </div>
</div>
