<div class="error-container forbidden">
  <h1 class="alert alert-box"><i class="icon-warning-sign icon-inline-prefix"></i>Forbidden</h1>
  <p>You don't have an authority to access the requested resource.</p>
  <p>
      <a href="#" class="redirect">Please visit the top page</a>
  </p>
</div>
