<div class="error-container not-found">
  <h1 class="alert alert-box"><i class="icon-warning-sign icon-inline-prefix"></i>Not Found</h1>
  <p>This is not the web page you are looking for.</p>
  <p>
      <a href="#" class="redirect">Please visit the top page</a>
  </p>
</div>
