<div class="error-container unknown-error">
  <h1 class="alert alert-box"><i class="icon-warning-sign icon-inline-prefix"></i>Unknown Error</h1>
  <p>Looks like something went wrong ! Please contact to the administrator.</p>
</div>
