<div class="section-container accordion" data-section="accordion">
  <section class="active">
    <p class="title" data-section-title>
      <a href="#">Filter by attributes</a>
    </p>
    <div class="content" data-section-content>
      <div class="row collapse">
        <div class="filter-item" data-fields="subject"></div>
      </div>
      <div class="row collapse">
        <div class="filter-item" data-fields="actions"></div>
      </div>
      <div class="row collapse">
        <div class="filter-item" data-fields="dealName"></div>
      </div>
      <div class="row collapse">
        <div class="filter-item" data-fields="organizationName"></div>
      </div>
      <div class="row collapse">
        <div class="filter-item" data-fields="term"></div>
      </div>
      <div class="row collapse">
        <div class="filter-item" data-fields="status"></div>
      </div>
      <div class="row collapse">
        <div class="filter-item" data-fields="includeDeleted"></div>
      </div>
    </div>
  </section>
</div>