<div class="row">
  <div class="large-12 columns">
    <form>
      <fieldset{{#unless title}} class="no-margin"{{/unless}}>
        {{#if title}}<legend>{{title}}</legend>{{/if}}
        <div class="row">
          <div class="large-12 columns" data-fields="subject">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="action">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="date">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="organizationId">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="dealId">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="usersIds">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="peopleIds">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="note">
          </div>
        </div>
      </fieldset>
      <div class="row form-actions">
        <div class="large-12 columns">
          <input type="submit" value="Save" class="button primary" />
          <input type="button" value="Cancel" class="button cancel" />
        </div>
      </div>
    </form>
  </div>
</div>
