<div class="description-container">
  <h4><i class="icon-calendar icon-inline-prefix"></i>Activities</h4>
  <a href="#" id="add-activity-button" class="primary small button">Add New Activity</a>
</div>
<div id="grid-container"></div>
