<div class="section-container accordion" data-section="accordion">
  <section class="active">
    <p class="title" data-section-title>
      <a href="#">Filter by attribute</a>
    </p>
    <div class="content" data-section-content>
      <!-- TODO status, term, pm, sales etc -->
      <div class="row collapse">
        <div class="filter-item">
          <label for="filter-name"><i class="icon-search icon-inline-prefix"></i>Name</label>
          <input id="filter-name" type="text" placeholder="Filter by name">
        </div>
      </div>
      <div class="row collapse">
        <div class="filter-item">
          <label for="filter-organization"><i class="icon-search icon-inline-prefix"></i>Organization</label>
          <input id="filter-organization" type="text" placeholder="Filter by organization">
        </div>
      </div>
    </div>
  </section>
</div>