<div class="row">
  <div class="large-12 columns">
    <form>
      <fieldset>
        <legend><i class="icon-tasks icon-inline-prefix"></i>{{title}}</legend>
        <div class="row">
          <div class="large-12 columns" data-fields="name">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="organizationId">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="contactId">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="pmId">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="salesId">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="status">
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns" data-fields="amount"></div>
          <div class="large-6 columns" data-fields="accuracy"></div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="startDate">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="orderDate">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="acceptDate">
          </div>
        </div>
      </fieldset>
      <div class="row form-actions">
        <div class="large-12 columns">
          <input type="submit" value="Save" class="button primary" />
          <input type="button" value="Cancel" class="button cancel" />
        </div>
      </div>
    </form>
  </div>
</div>
