<div class="description-container">
  <h4><i class="icon-tasks icon-inline-prefix"></i>Deals</h4>
  <a href="#" id="add-deal-button" class="primary small button">Add New Deal</a>
</div>
<div id="grid-container"></div>