<div class="large-12 columns">
  <div class="row">
    <form>
      <fieldset>
        <div class="row">
          <div class="large-12 columns" data-fields="message"></div>
        </div>
      </fieldset>
      <div class="note-actions">
        <input type="submit" value="Save" class="small button primary" />
        <input type="button" value="Cancel" class="small button cancel" />
      </div>
    </form>
  </div>
</div>