.button {
    @include button-base;
    @include button-size;
    @include button-style($bg: $well-color);
    @include radius($radius: $button-radius);
    @include gradient-bg($base-color: $well-color);
    @include single-transition;
    &.disabled, &[disabled] {
        @include button-style($bg: $well-color, $disabled:true);
    }
    &.primary {
        @include button-style($bg: $primary-color);
        @include gradient-bg($base-color: $primary-color);
    }
    &.secondary {
        @include button-style($bg: $secondary-color);
        @include gradient-bg($base-color: $secondary-color);
    }
    &.success {
        @include button-style($bg: $success-color);
        @include gradient-bg($base-color: $success-color);
    }
    &.alert {
        @include button-style($bg: $alert-color);
        @include gradient-bg($base-color: $alert-color);
    }
}

.row {
    max-width: none;
}

i.icon-inline-prefix {
    margin-right: 0.5em;
}

.top-bar.expanded .toggle-topbar a {
  color: $body-bg;
}

.top-search {
    .button {
        border-radius: 0;
    }
}

a.help {
    margin-left: 0.25em;
    &:hover {
        text-decoration: underline;
    }
}

.panel.help {
    font-size: 80%;
}


fieldset {
    padding-bottom: 1em;
    margin-bottom: 0;
    border-bottom: none;
    legend {
        background: transparent;
        font-size: $h5-font-size;
    }
    label {
        margin-bottom: 0.5em;
    }
}
.row {
    &.form-actions {
        background-color: $well-bg-color;
        margin-left: 0;
        margin-right: 0;
        padding: 1em;
        border-left: 1px solid $fieldset-border-color;
        border-right: 1px solid $fieldset-border-color;
        border-bottom: 1px solid $fieldset-border-color;
        .button {
            margin-bottom: 0;
            padding-top: emCalc(8px);
            padding-bottom: emCalc(8px);
            &+.button {
                margin-left: 0.25em;
            }
        }
    }
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
    box-shadow: none;
}

@mixin placeholder($color) {
    &:-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color: $color;
}
}

.selectize-control {
    width: 100%;
    margin-bottom: 1em;
    .selectize-input {
        font-family: $input-font-family;
        font-size: $input-font-size;
        color: $input-font-color;
        border-radius: 0;
        border-color: #ddd;
        box-shadow: none;
        padding: 0.25em 0.5em;
        > input {
            display: inline-block;
            @include placeholder(rgba($input-font-color, 0.5));
        }
        &.focus {
            $fade-time: 300ms;
            background: $input-focus-bg-color;
            border-color: $input-focus-border-color;
            outline: none;
            transition: box-shadow $fade-time, border-color $fade-time ease-in-out;
            -webkit-transition: -webkit-box-shadow $fade-time, border-color $fade-time ease-in-out;
            -moz-transition: -moz-box-shadow $fade-time, border-color $fade-time ease-in-out;
            box-shadow: 0 0 5px $input-focus-border-color;
            -webkit-box-shadow: 0 0 5px $input-focus-border-color;
            -moz-box-shadow: 0 0 5px $input-focus-border-color;
        }
        &.has-items {
            padding: 0.5em;
        }
    }
}

.full-screen {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.description-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    h1, h2, h3, h4, h5, h6 {
        float: left;
    }
    .button {
        float: right;
        margin-top: 0.5em;
        margin-left: 0.5em;
    }
}

.section-container {
    &.accordion {
        > section.active {
            @include fadeIn(.7s);
            .title {
                background: $body-bg;
                border-bottom: 0;
                border-top: 3px solid $focus-accent-color;
            }
        }
    }
    &.tabs {
        p.title {
            padding-left: 1em;
            padding-right: 1em;
        }
    }
}

.properties-container {
    padding: 0 1em;
    .property {
        .label {
            margin-bottom: 0.5em;
            padding: 0.5em 1em;
            color: $body-font-color;
            font-weight: normal;
            background-color: $well-bg-color;
            &.disabled {
                background-color: #666;
            }
        }
        .value {
            display: block;
            margin-bottom: 1em;
        }
    }
}

.activity-panel {
    @include panel;
    border: 1px solid $well-border-color;
    .subject {
        display: block;
        color: $success-color;
    }
    .calendar {
        display: block;
        margin: 0.5em 0;
        font-size: emCalc(23);
    }
    .owner {
        display: block;
    }
}

div[data-fields] {
    label {
        display: block;
        margin-bottom: 0.5em;
    }
}

.filter-container {
    margin-top: 1em;
    .filter-item {
        label {
            &:before {
                content: "\f002";
                margin-right: 0.25em;
            }
        }
    }
    .prefix {
        text-align: right;
        padding-right: 1em;
        background: $body-bg;
        border: none;
    }
}

li.filter-item {
  @include label($label-padding, $form-label-font-size, $well-bg-color, false);
  display: block;
  font-weight: normal;
  text-align: left;
  padding: 0.5em 1em;
  &.active {
    background-color: $focus-accent-color;
    a:first-child {
        color: $body-bg;
        font-weight: normal;
    }
  }
}

.dropzone {
    margin-bottom: 1em;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}