.button {
    @include button-base;
    @include button-size;
    @include button-style($bg: $well-color);
    @include radius($radius: $button-radius);
    @include gradient-bg($base-color: $well-color);
    @include single-transition;
    &.disabled, &[disabled] {
        @include button-style($bg: $well-color, $disabled:true);
    }
    &.primary {
        @include button-style($bg: $primary-color);
        @include gradient-bg($base-color: $primary-color);
    }
    &.secondary {
        @include button-style($bg: $secondary-color);
        @include gradient-bg($base-color: $secondary-color);
    }
    &.success {
        @include button-style($bg: $success-color);
        @include gradient-bg($base-color: $success-color);
    }
    &.alert {
        @include button-style($bg: $alert-color);
        @include gradient-bg($base-color: $alert-color);
    }
}

.alert {
    color: $alert-color;
}

.row {
    max-width: none;
}

i.icon-inline-prefix {
    margin-right: 0.5em;
}
i.icon-inline-center {
    margin: 0 0.25em;
}

a.help {
    margin-left: 0.25em;
    &:hover {
        text-decoration: underline;
    }
}

.panel.help {
    font-size: 80%;
}


fieldset {
    padding-bottom: 1em;
    margin-bottom: 0;
    border-bottom: none;
    legend {
        background: transparent;
        font-size: $h5-font-size;
    }
    label {
        margin-bottom: 0.5em;
    }
}
.row {
    &.form-actions {
        background-color: $well-bg-color;
        margin-left: 0;
        margin-right: 0;
        padding: 1em;
        border-left: 1px solid $fieldset-border-color;
        border-right: 1px solid $fieldset-border-color;
        border-bottom: 1px solid $fieldset-border-color;
        .button {
            margin-bottom: 0;
            padding-top: emCalc(8px);
            padding-bottom: emCalc(8px);
            &+.button {
                margin-left: 0.25em;
            }
        }
    }
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
    box-shadow: none;
}

@mixin placeholder($color) {
    &:-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color: $color;
    }
}

.selectize-control {
    width: 100%;
    margin-bottom: 1em;
    .selectize-input {
        font-family: $input-font-family;
        font-size: $input-font-size;
        color: $input-font-color;
        border-radius: 0;
        border-color: #ddd;
        box-shadow: none;
        padding: 0.1em 0.5em;
        > input {
            display: inline-block;
            @include placeholder(rgba($input-font-color, 0.5));
        }
        &.focus {
            $fade-time: 300ms;
            background: $input-focus-bg-color;
            border-color: $input-focus-border-color;
            outline: none;
            transition: box-shadow $fade-time, border-color $fade-time ease-in-out;
            -webkit-transition: -webkit-box-shadow $fade-time, border-color $fade-time ease-in-out;
            -moz-transition: -moz-box-shadow $fade-time, border-color $fade-time ease-in-out;
            box-shadow: 0 0 5px $input-focus-border-color;
            -webkit-box-shadow: 0 0 5px $input-focus-border-color;
            -moz-box-shadow: 0 0 5px $input-focus-border-color;
        }
        &.has-items {
            padding: 0.5em;
        }
    }
}

.full-screen {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.top-bar {
    .top-bar-section {
        .has-form {
            padding: 0;
        }
        .icon-button {
            font-size: 1.25em;
        }
    }
}

.description-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    h1, h2, h3, h4, h5, h6 {
        float: left;
    }
    .button {
        float: right;
        margin-top: 0.5em;
        margin-left: 0.5em;
    }
}

.section-container {
    &.accordion {
        > section.active {
            @include fadeIn(.7s);
            .title {
                background: $body-bg;
                border-bottom: 0;
                border-top: 3px solid $focus-accent-color;
            }
        }
    }
    &.tabs {
        p.title {
            padding-left: 1em;
            padding-right: 1em;
        }
    }
}

.properties-container {
    padding: 0 1em;
    .property {
        .label {
            margin-bottom: 0.5em;
            padding: 0.5em 1em;
            color: $body-font-color;
            font-weight: normal;
            background-color: $well-bg-color;
            &.disabled {
                background-color: #666;
            }
        }
        a {
            margin-right: 0.25em;
        }
        .value {
            display: block;
            margin-bottom: 1em;
        }
    }
}

.text {
    white-space: pre;
    word-wrap: break-word;
}

.activity-panel {
    @include panel;
    border: 1px solid $well-border-color;
    .subject {
        display: block;
        color: $success-color;
        .link {
            color: $success-color;
        }
    }
    .calendar {
        display: block;
        margin: 0.5em 0;
        font-size: $h4-font-size;
        .status {
            color: $body-font-color;
        }
    }
    .users {
        margin-bottom: 0;
        .user + .user {
            margin-left: 0.5em;
        }
    }
}

// TODO refactoring

.note-editor {
    .row {
        margin-top: 0;
        margin-bottom: 0;
        form {
            margin: 0;
            fieldset {
                margin: 0;
                padding-top: 0;
                padding-bottom: 0;
                border: none;
            }
            div[data-fields] {
                label {
                    display: none;
                }
            }
            .note-actions {
                border: none;
                padding: 0 1.25em;
                margin-bottom: 1em;
                .button {
                    margin-bottom: 0;
                    padding-top: emCalc(8px);
                    padding-bottom: emCalc(8px);
                    &+.button {
                        margin-left: 0.25em;
                    }
                }
            }
        }
    }
}

.row {
    &.update-item {
        margin: 0.5em 0.25em 1.5em;
        header {
            padding-bottom: 0.25em;
            border-bottom: 1px solid $well-color;
        }
        section {
            padding: 1em 0;
            .columns {
                padding-left: 0.25em;
                padding-right: 0.25em;
                .note-actions {
                    padding: 0 0.5em;
                }
            }
            ul.changesets {
                list-style-position: inside;
                margin-bottom: 0;
                li {
                    font-size: 90%;
                    margin-left: 0.25em;
                    margin-bottom: 0.5em;
                    span.property {
                        margin-right: 0.5em;
                    }
                    span.change {
                        border: 1px solid $well-border-color;
                        padding: 0.25em 0.5em;
                        margin: 0 0.25em;
                        line-height: 2;
                        &.empty:after {
                            content: "empty";
                            color: #DDD;
                        }
                    }
                    i {
                        color: #999;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        footer {
            font-size: 80%;
            .separator {
                margin-left: 0.25em;
                margin-right: 0.25em;
            }
            .actions {
                display: inline;
                a {
                    margin-right: 0.25em;
                }
            }
        }
    }
}

.timeline-header {
    margin-bottom: 0.75em;
}
#notifications-container {
    .column,
    .columns {
        padding-left: 0;
    }
}

div[data-fields] {
    label {
        display: block;
        margin-bottom: 0.5em;
    }
}

.filter-container {
    margin-top: 1em;
    .filter-item {
        label {
            &:before {
                content: "\f002";
                margin-right: 0.25em;
            }
        }
    }
    .prefix {
        text-align: right;
        padding-right: 1em;
        background: $body-bg;
        border: none;
    }
}

.sidebar-container {
    @extend .filter-container;
}

.field {
    font-family: $body-font-family;
    label > span {
        font-family: $body-font-family;
    }
}

li.filter-item {
  @include label($label-padding, $form-label-font-size, $well-bg-color, false);
  display: block;
  font-weight: normal;
  text-align: left;
  padding: 0.5em 1em;
  &.active {
    background-color: $focus-accent-color;
    a:first-child {
        color: $body-bg;
        font-weight: normal;
    }
  }
}

.dropzone {
    margin-bottom: 1em;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.fs-editor-wrapper {
    .fs-editor {
        font-family: $input-font-family;
        font-size: $input-font-size;
        color: $input-font-color;
        line-height: $base-line-height;
        min-height: 0;
        margin-bottom: 0.75em;
        .fs-editable {
            border-radius: 0;
            border: 1px solid #ddd;
            box-shadow: none;
            padding: 0.25em 0.5em;
            height: 75px;
            min-height: 75px;
            &:focus {
                $fade-time: 300ms;
                background: $input-focus-bg-color;
                border-color: $input-focus-border-color;
                outline: none;
                transition: box-shadow $fade-time, border-color $fade-time ease-in-out;
                -webkit-transition: -webkit-box-shadow $fade-time, border-color $fade-time ease-in-out;
                -moz-transition: -moz-box-shadow $fade-time, border-color $fade-time ease-in-out;
                box-shadow: 0 0 5px $input-focus-border-color;
                -webkit-box-shadow: 0 0 5px $input-focus-border-color;
                -moz-box-shadow: 0 0 5px $input-focus-border-color;
            }
        }
        &.expanded {
            width: 100%;
            height: 100%;
            z-index: 999;
            .fs-editable {
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
}

$checkbox-color: lighten($input-font-color, 30%);
div.checkbox-editor {
    input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        z-index: 5;
        width: 20px;
        & + label {
            cursor: pointer;
            display: inline;
            margin-left: 23px;
            color: $checkbox-color;
            &:before {
                cursor: pointer;
                content: "\f096";
                font: 23px/1em FontAwesome;
                margin-left: -20px;
                vertical-align: middle;
            }
        }
        &:disabled + label {
            color: lighten($checkbox-color, 30%);
            cursor: default;
        }
        &:checked + label:before {
            content: "\f046";
        }
    }
}

.error-container {
    margin: 2em;
    h1 {
        margin-top: 0;
        padding: 1em;
    }
    p {
        padding: 0 1em;
    }
    border: 1px solid $alert-color;
}


.picker__header {
    margin-top: 1em;
}
.picker__button--today,
.picker__button--clear {
    color: $body-font-color;
}