.backgrid-container {
    height: auto;
    padding-bottom: 0.25em;
}

.backgrid {
    thead th {
        font-weight: normal;
        border-bottom: 3px solid #DDD;
    }
    tr {
        &.deleted {
            opacity: 0.6;
        }
    }
    td {
        white-space: pre;
        word-wrap: break-word;
        a + a {
            margin-left: 0.5em;
        }
    }
    .select-row-cell,
    .select-all-header-cell {
        width: 20px;
        input[type="checkbox"] {
            margin: 0;
            padding: 0;
        }
    }
    .local-date-cell {
        width: 10em;
        text-align: right;
    }
    .local-datetime-cell {
        width: 15em;
        text-align: right;
    }
    .activity-action-cell {
        width: 10em;
    }
    .button-cell {
        width: 3em;
        text-align: center;
    }
}