$checkboxWidth: 20px !default;

.backgrid-container {
    height: auto;
}

.backgrid {
    thead th {
        font-weight: normal;
        border-bottom: 3px solid #DDD;
    }
    td {
        white-space: pre;
        word-wrap: break-word;
    }
    .select-row-cell,
    .select-all-header-cell {
        width: $checkboxWidth;
        input[type="checkbox"] {
            margin: 0;
            padding: 0;
        }
    }
}