$checkboxWidth: 20px !default;

.backgrid {
    thead th {
        font-weight: normal;
        border-bottom: 3px solid #DDD;
    }
    td {
        white-space: pre;
        word-wrap: break-word;
    }
    .select-all-header-cell {
        width: $checkboxWidth;
    }
    .select-row-cell {
        width: $checkboxWidth;
    }
}