.error {
  div[data-error] {
    color: #ea4c37;
    padding: 0.5em 0 1.5em 0;
    font-size: emCalc(12);
    font-weight: normal;
  }
  label,
  label a {
    color: $alert-color;
  }
}

@mixin notification($color) {
  @incldue alert-base;
  @include alert-style(rgba($color, 0.1));
  color: $color;
  border: none;
  padding: 1em;
  h1, h2, h3, h4, h5, h6 {
    color: $color;
  }
  ul {
    margin-bottom: 0;
    margin-left: 1.25em;
  }
}
.notification-error {
  @include notification($alert-color);
}
.notification-success {
  @include notification($success-color);
}
