#unauthenticated-container {
  padding: 3em;
  @extend .full-screen;
  @include background(linear-gradient(315deg, rgba(0, 170, 255, 0.1), rgba(220, 110, 10, 0.2) 80%), image-url("shattered.png"));
  .contents {
    padding: 2em 3em;
    background: rgba(white, 0.75);
  }
}