<div class="row">
  <div class="large-12 columns">
    <form>
      <fieldset{{#unless headerTitle}} class="no-margin"{{/unless}}>
        {{#if headerTitle}}<legend><i class="icon-calendar icon-inline-prefix"></i>{{headerTitle}}</legend>{{/if}}
        <div class="row">
          <div class="large-6 columns" data-fields="fromDate"></div>
          <div class="large-6 columns" data-fields="toDate"></div>
        </div>
        <div class="row">
          <div class="large-6 columns" data-fields="department"></div>
          <div class="large-6 columns" data-fields="title"></div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="remarks">
          </div>
        </div>
      </fieldset>
      <div class="row form-actions">
        <div class="large-12 columns">
          <input type="submit" value="Save" class="button primary" />
          <input type="button" value="Cancel" class="button cancel" />
        </div>
      </div>
    </form>
  </div>
</div>
