<div class="description-container">
  <h4><i class="icon-list-alt icon-inline-prefix"></i>Careers</h4>
  <a href="#" id="add-career-button" class="primary small button">Add New Career</a>
</div>
<div id="grid-container"></div>
