<div class="row description-container">
  <h5><i class="icon-calendar icon-inline-prefix"></i>{{headerTitle}}</h5>
</div>
<div class="row form">
  <div class="large-12 columns no-padding">
    <div class="section-container tabs" data-section="tabs">
      <section id="form" class="active">
        <p class="title" data-section-title>
          <a href="#" data-bypass><i class="icon-edit icon-inline-prefix"></i>Form</a>
        </p>
        <div class="content" data-section-content></div>
      </section>
      <section id="files">
        <p class="title" data-section-title>
          <a href="#" data-bypass><i class="icon-file icon-inline-prefix"></i>Files</a>
        </p>
        <div class="content" data-section-content></div>
      </section>
    </div>
  </div>
</div>