<div class="row">
  <div class="large-12 columns">
    <form>
      <fieldset>
        <legend>Edit Account</legend>
        <div class="row">
          <div class="large-12 columns" data-fields="currentPassword">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="password">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="passwordConfirmation">
          </div>
        </div>
      </fieldset>
      <div class="row form-actions">
        <div class="large-12 columns">
          <input type="submit" value="Save" class="button primary" />
          <input type="button" value="Cancel" class="button cancel" />
        </div>
      </div>
    </form>
  </div>
</div>
