<div class="section-container accordion" data-section="accordion">
  <section class="active">
    <p class="title" data-section-title>
      <a href="#">Filter by attributes</a>
    </p>
    <div class="content" data-section-content>
      <div class="row collapse">
        <div class="filter-item" data-fields="name"></div>
      </div>
      <div class="row collapse">
        <div class="filter-item" data-fields="email"></div>
      </div>
    </div>
  </section>
</div>