<div class="row">
  <div class="large-12 columns">
    <form>
      <fieldset>
        <legend>Sign in</legend>
        <div class="row">
          <div class="large-12 columns" data-fields="login">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="password">
          </div>
        </div>
      </fieldset>
      <div class="row form-actions">
        <div class="large-12 columns">
          <input type="submit" value="Sign in to your account" class="button primary" />
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="panel help">
      <p>
        Don't have an account ? 
        <a href="users/sign_up" class="help">Sign up</a>
      </p>
    </div>
  </div>
</div>