<div class="row">
  <div class="large-12 columns">
    <form>
      <fieldset>
        <legend>Sign up</legend>
        <div class="row">
          <div class="large-12 columns" data-fields="name">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="email">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="password">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" data-fields="passwordConfirmation">
        </div>
      </fieldset>
      <div class="row form-actions">
        <div class="large-12 columns">
          <input type="submit" value="Sign up" class="button primary" />
        </div>
      </div>
    </form>
  </div>
</div>